@use './variables' as *;

.search-bar {
  width: 100%;
  
  .input-group {
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    
    .input-group-text {
      background-color: transparent;
      border: none;
      color: $light-gray;
      padding-left: 10px;
    }
    
    .form-control {
      background-color: transparent;
      border: none;
      color: $white;
      font-size: 14px;
      padding: 8px 15px;
      
      &:focus {
        box-shadow: none;
      }
      
      &::placeholder {
        color: $light-gray;
      }
    }
  }
}